{% extends 'base.html.twig' %}

{% block title %}Create a new blog{% endblock %}

{% block body %}
    <h1>Create a new blog</h1>

    {{ form_start(form) }}
    {{ form_row(form.Title) }}
    {{ form_row(form.Content) }}
    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}